body {
    font-family: 'Open Sans', sans-serif;
    background: #f9fafc;
    position: relative;
    margin: 5px 10px 5px 15px;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #69696a;
    font-size: small;
}
#topChirpus{
    font-weight: bold;
    color: #000;
}
a {
    text-decoration: none;  
}

button {
    color: #fff;
    background: #000;
    border: none;
}
.button {
    background: #000;
    display: flex;
    justify-content: center;
    border: solid;
    border-radius: 20px;
    height: 25px;
}
#bodyChirpus {
    font-size: x-large;
    font-weight: bold;
}
#content {
    border-style: hidden hidden hidden solid;
    border-left-color:#69696a;
    padding-left: 16px;
    border-left-width: 5px;
    margin-left: 10px;
    font-size: small;
}
.bottomNavigation {
    background: rgba(247, 193, 162, 0.7);
    height: 35px; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: baseline;
    font-size: small;
}
#bottomChirpus {
    display: flex;
    align-self: flex-start;
    color: #000;
    font-weight: bold;
}
#bottomNavigationLeft {
    display: flex;
    align-self: flex-end;
    justify-content:space-evenly; 
}
@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: right;
        color: #69696a;
        font-size: small;
        align-items:baseline;
        width: 100%;
        height: 35px;
    } 
}    
}